:root {
  --x-pned-border-color: #a1a1a1;
  --x-pned-outside-color: #ffffff;
  --x-pned-background-color: #ffffff;
  --x-pned-light-text-color: #333;
  --x-pned-light-back-color: #e8e8e8;
  --x-pned-link-color: #425d73;
}

/* Kommentar*/
* {
    margin: 0px;
    padding: 0px;
    user-select: none;
}

button {
    background-color: #000;
    color: white;
    border: none;
    margin: 0px 0px 2px 2px;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}
/* file upload*/
#fileUpload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
#fileName {
    margin-left: 5px;
    margin-right: 10px;
}
.custom-file-upload {
    display: inline-block;
    padding: 1px 3px;
    cursor: pointer;
    background-color: #000;
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}
/* Help window*/
.popup {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* containers and dividers*/
body{
    background-size: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
#top {
    display: flex;
    flex: 0 0 auto;
    height: 45px;
    padding-left: 0.5em;
}
#top * {
    display: inline-block;
    align-self: flex-end;
    bottom: 0;
    margin-top: auto;
    font-size: 16px;
}
.grid-container {
    display: flex;
    height:calc(100% - 47px);
}

#NetAndConsole {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    vertical-align: top;
    margin-left: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
#Details {
    flex: 1 1 auto;
    min-height: 300px;
    vertical-align: top;
    min-width: 500px;
    margin-right: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: auto; /* Adjust as needed */
    display: flex;
    flex-direction: column;
}

/* Add a draggable divider between the divs */
.divider {
    background: var(--x-pned-border-color);
    cursor: ew-resize;
    width: 4px;
    min-width: 4px;
    margin-left: 0.2em;
    margin-right: 0.2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#content {
    overflow: auto;
    height: 60%;
    border: 1px solid var(--x-pned-border-color);
    box-sizing: border-box;
}
.consoleDivider{
    background: var(--x-pned-border-color);
    cursor: ns-resize;
    height: 4px;
    min-height: 4px;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}
#console_wrap {
    height: 40%;
    display: flex;
    flex-direction: column;
}

#console_body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
}

#console_places_wrap {
    flex: 1 1 auto;
    align-self: stretch;
    border: 1px solid var(--x-pned-border-color);
    overflow: auto;
    margin-right: 0.5em;
}
#console_trans_wrap {
    flex: 1 1 auto;
    width: 39.9%;
    border: 1px solid var(--x-pned-border-color);
    overflow: auto;
    margin-right: 0.5em;
}
#console_edges_wrap{
    flex: 1 1 auto;
    width: 26.7%;
    border: 1px solid var(--x-pned-border-color);
    overflow: auto;
}

#console_top *{
    float: left;
}
/*PT-net Ec-net switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: 0;
  right: 0;
  bottom: -3px;
  background-color: #000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
}
input:checked + .slider {
    background-color: #000;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
#console_buttons{
    float: right;
}
.console_element{
    height: 20px;
    padding: 1px;
    margin: 2px;
    width: 200px;
    border: 1px solid gray;
    font-size: small;
    background-color: lightgray;
}
.console_element *{
    float: left;
    margin: 0px 1px;
}
.console_element input{
    width: 70px;
}
.id_wrap{
    height: 100%;
    width: 30px;
}

#add_edge_button{
    float: left;
}

/*labelsAndProps*/
#labelsAndPropsWrap {
    min-width: 30vw;
    height: 25%;
    display: flex;
    flex-wrap: nowrap;

}
#labelsAndPropsWrap2a {
    font-size: 13px;
    border: 1px solid var(--x-pned-border-color);
    overflow-y: auto;
    margin-right: 0.5em;
    padding: 0.5em;
    flex: 1 1 auto;
}
#labelsAndPropsWrap2b {
    font-size: 13px;
    border: 1px solid var(--x-pned-border-color);
    overflow-y: auto;
    padding: 0.5em;
    flex: 1 1 auto;
}
/*Marking Table*/
#markingTableWrap{
    flex: 1 1 auto;
    overflow: auto;
    display: flex;
    align-items: start;
    height: 75%;
    padding: 10px;
    margin-top: 0.5em;
    vertical-align:top;
    border: 1px solid var(--x-pned-border-color);
}

#markingTableWrap > div {
    display: flex;
    align-items: start;
    height: 100%;
}
#markingTableWrap td {
    height: 20px;
    border: 1px;
    text-align: center;
    border-style: solid;
    box-sizing: border-box;
}
#markingTableWrap table{
    position: relative;
    table-layout: fixed;
    border: none;
    margin: 0;
    padding: 0;
}
table div{
    height: 20px;
    font-size: 13px;
}
.locked div{
    background-color: lightgray !important;
    color: lightgray;
    pointer-events: none;
}
.locked p{
    visibility: hidden;
}
.hidden div{
    background-color: lightblue;
    color: lightgray;
}
.hidden p{
    visibility: hidden;
}
#unhideButton{
    position: absolute;
    z-index: 2;
}

input:checked + .slider {
    background-color: #000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.pointer:hover {
    cursor: pointer;
}
.highlightedRow{
    background-color: red;
}
.highlightedRow td.stayWhite{
    background-color: initial;
}
