
/* Kommentar*/
* {
    margin: 0px;
    padding: 0px;
}
#top{

    flex: 0 0 auto; 
    width: 100%;
    height: 65px;
    padding: 1px;
}
button {
    background-color: #000;
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}

#fileUpload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
#fileName {
    margin-left: 10px;
}
.custom-file-upload {
    display: inline-block;
    padding: 1px 3px;
    cursor: pointer;
    background-color: #000;
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}
body{
    background-size: 100%;
    height: 100vh;
}
.grid-container{
    flex: 1 1 auto; 
    height: 92%;
    display: flex; 
    grid-template-columns: 1fr auto;
    grid-gap: 0px; 
}
.divide1{
    flex: 1;
    height: 100%;
    min-height: 300px;
    vertical-align:top;
    min-width: 300px;
    width: 50%;
}
#content {
    overflow: auto; 
    width: 100%; height: 75%; 
    vertical-align:top;
    border: 1px solid black;
    box-sizing: border-box;
}
#console_wrap { 
    width: 100%; 
    height: 25%; 
    vertical-align:top;
    display: flex;
    flex-direction: column; 
}
#console_places_wrap {
    float: left;
    position: relative;
    width: 30%;
    height: 100%;
}
#console_trans_wrap {
    float: left;
    position: relative;
    width: 40%;
    height: 100%;
}
#console_edges_wrap{
    float: left;
    position: relative;
    width: 30%;
    height: 100%;
}

#console_top {
    width: 100%;
    height: 20px;
}
#console_top *{
    float: left;
}
.console {
    resize:none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px;
    border-style: solid;
    position: absolute;
    overflow: auto
}
#console_form{
    float: right;
}
#labelsAndPropsWrap1 { 
    min-width: 30vw;
    height: 25%; 
    vertical-align:top;
    display: flex;
    flex-direction: column; 
}
#labelsAndPropsWrap2 {
    float: left;
    position: relative;
    width: 50%;
    height: 100%;
    font-size: 13px;
}
#markingTableWrap{
    overflow: auto;
    display: flex;
    align-items: start;
    width: 100%; 
    height: 75%;
    padding: 10px;
    vertical-align:top;
    border-color: black;
    border: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-spacing: 0; 
    border-collapse: collapse;
}

#markingTableWrap > div {
    display: flex;
    align-items: start;
    height: 100%; 
}
#markingTableWrap td {
    height: 20px;
    width: 30px;
    border: 1px;
    text-align: center;
    border-style: solid;
}
#markingTableWrap table{
    position: relative;
    table-layout: fixed;
    border: none; /* Removes border */
    margin: 0;    /* Removes any outside spacing */
    padding: 0;   /* Removes any inside spacing */
}
table div{
    height: 20px;
    width: 30px;
    font-size: 13px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
}

input:checked + .slider {
    background-color: #000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.locked div{
    background-color: lightgray !important;
    color: lightgray;
    pointer-events: none;
}
.locked p{
    visibility: hidden;
}
.hidden div{
    background-color: lightblue;
    color: lightgray;
}
.hidden p{
    visibility: hidden;
}
#unhideButton{
    position: absolute;
    z-index: 2;
}
.pointer:hover {
    cursor: pointer;
}
.highlightedRow{
    background-color: red;
}