
/* Kommentar*/
* {
    margin: 0px;
    padding: 0px;
}
#top{
    display: flex;
    flex: 0 0 auto; 
    width: 100%;
    height: 45px;
    padding: 1px;
}
#top *{
    display: inline-block;
    align-self: flex-end;
    bottom: 0; 
    margin-top: auto;
    font-size: 16px;
}
button {
    background-color: #000;
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}
/* file upload*/
#fileUpload {
    opacity: 0;
    position: absolute;
    z-index: -1;
}
#fileName {
    margin-left: 5px;
    margin-right: 10px;
}
.custom-file-upload {
    display: inline-block;
    padding: 1px 3px;
    cursor: pointer;
    background-color: #000;
    color: white;
    border: none;
    padding: 2px 6px;
    border-radius: 4px;
    cursor: pointer;
}
/* containers and dividers*/
body{
    background-size: 100%;
    height: 100vh;
}
.grid-container {
    display: flex; 
    height:calc(100% - 45px);
}

.divide1 {
    flex: 1 1 auto;
    min-height: 300px;
    vertical-align: top;
    min-width: 500px;
    width: auto; /* Adjust as needed */
}

/* Add a draggable divider between the divs */
.divider {
    background: black;
    cursor: ew-resize;
    width: 2px;
    min-width: 2px;
}
/*space for the svg*/
#content {
    overflow: auto; 
    width: 100%;
    height: calc(100% - 175px);
    vertical-align:top;
    border: 1px solid black;
    box-sizing: border-box;
}
/*console*/
#console_wrap { 
    width: 100%; 
    height: 175px;
    min-width: 500px;
    vertical-align:top;
    display: flex;
    flex-direction: column; 
}
#console_places_wrap {
    float: left;
    position: relative;
    width: 33%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: auto;
}
#console_trans_wrap {
    float: left;
    position: relative;
    width: 39%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: auto;
}
#console_edges_wrap{
    float: left;
    position: relative;
    width: 28%;
    height: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    overflow: auto;
}

#console_top {
    width: 100%;
    height: 20px;
}
#console_top *{
    float: left;
}
/*PT-net Ec-net switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
}
input:checked + .slider {
    background-color: #000;
}
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
#console_body {
    height: calc(100% - 20px);
}
#console_buttons{
    float: right;
}
.console_element{
    height: 20px;
    padding: 1px;
    margin: 2px;
    width: 200px;
    border: 1px solid gray;
    font-size: small;
    background-color: lightgray;
}
.console_element *{
    float: left;
    margin: 0px 1px;
}
.console_element input{
    width: 70px;
}
.id_wrap{
    height: 100%;
    width: 30px;
}

#add_edge_button{
    float: left;
}

/*labelsAndProps*/
#labelsAndPropsWrap1 { 
    min-width: 30vw;
    height: 25%;   
    display: grid;
    grid-template-columns: 1fr 1fr; 
}
#labelsAndPropsWrap2 {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 13px;
    border: 1px solid black;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow-y: auto; 
}
/*Marking Table*/
#markingTableWrap{
    overflow: auto;
    display: flex;
    align-items: start;
    width: 100%; 
    height: 75%;
    padding: 10px;
    vertical-align:top;
    border-color: black;
    border: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-spacing: 0; 
    border-collapse: collapse;
}

#markingTableWrap > div {
    display: flex;
    align-items: start;
    height: 100%; 
}
#markingTableWrap td {
    height: 20px;
    width: 30px;
    border: 1px;
    text-align: center;
    border-style: solid;
}
#markingTableWrap table{
    position: relative;
    table-layout: fixed;
    border: none;
    margin: 0;
    padding: 0;
}
table div{
    height: 20px;
    width: 30px;
    font-size: 13px;
}
.locked div{
    background-color: lightgray !important;
    color: lightgray;
    pointer-events: none;
}
.locked p{
    visibility: hidden;
}
.hidden div{
    background-color: lightblue;
    color: lightgray;
}
.hidden p{
    visibility: hidden;
}
#unhideButton{
    position: absolute;
    z-index: 2;
}

input:checked + .slider {
    background-color: #000;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.pointer:hover {
    cursor: pointer;
}
.highlightedRow{
    background-color: red;
}